<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<html>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
</script>

<script src="app/assests/javascripts/modernizr.custom.js"></script>

<link href="app/assests/stylesheets/style.css" rel="stylesheet" media="screen">

<link href="app/assests/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">


<body>
    <!-- intro --> 
  <div id="intro">    

      <div class="intro-text"> 
      <!--   <div class="container">
          <div class="row">           
          <div class="col-md-12">    -->
            <!-- <div class="brand"> -->



             
                <h2>NeverLost</h2>
                <div id="white">
              <p>We aim to provide a sense of safety for parents and children to  </p>
                  <p>  ensure that they have a worry free experience.</p>
              
      </div>
              <!-- <div id="browse_app"> -->
                   <br>
                   <%= link_to 'Sign in', user_session_path, class: "btn btn-primary btn-hover" %>


                </div>
                <center>
                  <%= image_tag "home.png", class: "img-responsive" %>
                </center>
              <!--   </div>
               </div> --> 
            <!-- </div> -->
          <!-- </div> -->
    
<!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!--                  <?#xml version="1.0" encoding="utf-8"?>

<svg width="500px" height="500px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 361.9 297.2" style="enable-background:new 0 0 361.9 297.2;" xml:space="preserve">
<g>
  <ellipse transform="matrix(0.2268 -0.9739 0.9739 0.2268 56.8874 154.0556)" cx="125.5" cy="41.2" rx="20.4" ry="20.4"/>
  <ellipse transform="matrix(0.2268 -0.9739 0.9739 0.2268 159.0606 247.37)" cx="235.3" cy="23.5" rx="23.5" ry="23.5"/>
  <circle cx="325.9" cy="107.5" r="17.5"/>
  <path d="M351.6,138.4c-2.9-3.5-6.2-5.6-8.9-6.7c-1.5-0.6-2.8-0.9-3.9-1.1c-2.1-0.9-6-1.9-12.9-1.9c-9.3,0-13.1,1.9-14.4,2.8
    l-16.3,8.5c-3-35.8-10.4-56.4-18.1-68.7c-6.6-10.6-13.6-14.6-17.2-16c-1.3-0.8-2.7-1.3-4.3-1.3h-40.3c-1.5,0-2.9,0.4-4,1.1
    c-3.9,1.2-11.7,5-19.1,15.3c-6.2,8.5-12.1,21.2-16.2,40.5c-2.8-8.2-6.1-15.5-9.8-21.6c-4.4-7.2-9.5-13.1-15.5-17.2
    c-6-4.1-13-6.4-20.2-6.3c-1,0-8.7,0-9.7,0v0c-7.3,0-14.2,2.2-20.2,6.3c-9,6.2-16,16.1-21.6,29.1c-4.6,10.6-8.2,23.4-11.1,38.2
    l-13.6-9.4c-0.2-0.1-0.4-0.3-0.7-0.4c-0.9-0.8-2-1.3-3.3-1.3h-25c-0.2,0-0.4,0-0.6,0.1c-0.5-0.1-1-0.1-1.5,0v0
    c-1.3,0.1-7,1.6-12.1,8.8c-5.2,7.1-9.8,19.3-11,41c-0.2,3.3,2.4,6.1,5.7,6.3c0.1,0,0.2,0,0.3,0c3.2,0,5.8-2.5,6-5.7
    c1.1-19.3,5.1-29.2,8.3-34v20.4v18v46c0,4.4,3.6,8,8,8s8-3.6,8-8v-41h3v41c0,4.4,3.6,8,8,8s8-3.6,8-8v-46v-18v-20l11.1,7.7
    c0.8,2.3,2.9,4.1,5.5,4.5c0.4,0.1,0.7,0.1,1.1,0.1c3.4,0,6.4-2.5,6.9-5.9c3.8-24.5,9.8-43.2,17-55.2c0.2-0.3,0.3-0.5,0.5-0.8
    c-9,31-5.2,75.3-5.2,75.3c0,2.4,4.5,4.1,11.1,5.3v51.2c0,5,4.1,9.1,9.1,9.1c5,0,9.1-4.1,9.1-9.1v-49.7c2.7,0.1,5.4,0.1,8.1,0v49.7
    c0,5,4.1,9.1,9.1,9.1c5,0,9.1-4.1,9.1-9.1v-51.2c6.6-1.1,11.1-2.9,11.1-5.3c0,0,3.8-44.3-5.2-75.4c2,3.2,3.9,6.8,5.7,11
    c4.9,11.4,9,26.6,11.8,45c0.5,3.5,3.5,5.9,6.9,5.9c0.2,0,0.3,0,0.5,0c0,0,0.1,0,0.1,0c0.1,0,0.3,0,0.4,0c4.2,0,7.7-3.3,8-7.6
    c2.2-40.3,10.9-60.5,17.9-70.2c0.7-1,1.4-1.9,2.1-2.7v36.6v19.8v90.8c0,7.1,5.8,12.9,12.9,12.9c7.1,0,12.9-5.8,12.9-12.9v-82.7h4.8
    v82.7c0,7.1,5.8,12.9,12.9,12.9c7.1,0,12.9-5.8,12.9-12.9v-90.8v-19.8V79.9c0.6,0.9,1.1,1.9,1.7,2.9c6,10.9,12.6,31.4,14.6,68.1
    c0.2,4.3,3.8,7.6,8,7.6c0.1,0,0.3,0,0.4,0c3.2-0.2,5.9-2.3,7-5.1l13.1-6.8l-8.2,49.4h8.2v33.8c0,4.4,3.6,8,8,8s8-3.6,8-8V196h3
    v33.8c0,4.4,3.6,8,8,8s8-3.6,8-8V196h8.2l-8.1-48.5c0.5,0.7,1,1.6,1.5,2.6c2.6,5.1,4.9,13.9,4.9,28.6c0,3.3,2.7,6,6,6
    c3.3,0,6-2.7,6-6C361.8,157.5,357.5,145.5,351.6,138.4z"/>
  <circle cx="37.8" cy="106.3" r="17.5"/>
</g>
</svg> -->
      <!-- </div>      -->
   </div>   
    <!-- intro --> 

   <!-- About -->
    <section id="about" class="home-section bg-white">
    <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
           <h2>By using our product, you will</h2>
          
          </div>
          </div>
        </div>
        <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="box-team wow bounceInDown" data-wow-delay="0.1s">
            <center>
                     <%= image_tag "5.png", class: "img-responsive" %>
            </center>

                    <h4> Insure child safety </h4>
                   
          </div>
                </div>
             <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.3s">
          <div class="box-team wow bounceInDown">
   <center>

 <%= image_tag "4.png", class: "img-responsive" %>

            </center>

                    <h4>Monitor your child</h4>
                    
          </div>
                </div> 
                <div class="coluxs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.5s">
          <div class="box-team wow bounceInDown">
               <center>
                     <%= image_tag "6.png", class: "img-responsive" %>
            </center>

                    <h4>Live happily</h4>
                    
          </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.7s">
          <div class="box-team wow bounceInDown">
               <center>
                     <%= image_tag "3.png", class: "img-responsive" %>
            </center>

                    <h4>Use us again</h4>
                   
          </div>
                </div>
        </div>        
      </div>    
    </section>
  

         <!-- Contact -->
    <section id="contact" class="home-section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
           <h2>Contact us</h2>     
         <h4>Contact via form below and we will be get in touch with you within 24 hours. </h4>
         <%= render 'new' %>
      </div>
      </div>
      </div>

        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            

 
  <h1>WE'RE ON SOCIAL NETWORKS </h1>
        <h4> Everywhere: @Neverlost </h4>
  
          </div>
        </div>

         <!-- Contact -->


     <!--   <div class="row mar-top30 ">
        <div class="col-md-offset-2 col-md-8">
          <h2>WE'RE ON SOCIAL NETWORKS </h2>
        <p> Everywhere: @Neverlost </p>
        </div>        -->
    

      </div>
    </section> 




    
 
    






</body>
<%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "bootstrap.min.js" %>

  <%= javascript_include_tag "jquery.smooth-scroll.min.js" %>
    <%= javascript_include_tag "jquery.dlmenu.js" %>
        <%= javascript_include_tag "wow.min.js" %>
                <%= javascript_include_tag "custom.js" %>

</html>

