<p id="notice"><%= notice %></p>


<h1>Listing Detections</h1>
<%= form_tag detections_path, :method => 'get' do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :tag_id => nil %>
</p>
<% end %>
<div class="table-responsive">

<table class="table table-hover">
  <thred>
      <tr>
        <th id= "tablefont">Tag</th>
        <th id= "tablefont">Sensor</th>
        <th id= "tablefont">Time</th>
        <th id= "tablefont">Actions</th>
      </tr>
  </thread>
  <tbody>
    <% @detections.each do |detection| %>
      <tr>
        <td><%= detection.tag_id %></td>
        <td><%= detection.sensor_id %></td>
        <td><%= detection.time %></td>
        <td>
          <%= link_to 'Show', detection,class: 'btn btn-large btn-info' %>
          <%= link_to 'Edit', edit_lending_path(detection),class: 'btn btn-large btn-info' %>
     <a class="btn btn-large btn-info"     <%= link_to 'Destroy', detection, method: :delete, data: { confirm: 'Are you sure?' } %></a>
        </td>
      </tr>
      <% end %>
  </tbody>
    
  </table>
  </div>



<br>

<%= link_to 'New Detection', new_detection_path %>
