<%= form_for(@rfid_tag) do |f| %>
  <% if @rfid_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rfid_tag.errors.count, "error") %> prohibited this rfid_tag from being saved:</h2>

      <ul>
      <% @rfid_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <div id="font"> <%= f.label :tag_id %>:<br></div>
    <%= f.text_field :tag_id %><br>
<br>
    <div id="font">
  <%= f.label :status %>:<br></div>
    <p id=font>Uncheck if tag is returned  | yes <%= f.check_box :status%></p>

  </div>
  <div class="actions">
       <div id="font">
     <%= f.submit %>
   </div>
   <br>
  </div>
 
<% end %>
