<p id="notice"><%= notice %></p>
<div id="blue">
<h1>Listing Rfid Tags</h1>
<h5>Click edit to return Tag</h5>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      
      <th id="font">Tag</th>
      <th id="font">Taken?</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @rfid_tags.each do |rfid_tag| %>
      <tr>
        <td><%= rfid_tag.tag_id %></td>
        <td><%= rfid_tag.status%></td>
        <td>
          <%= link_to 'Show', rfid_tag %>
          <%= link_to 'Edit', edit_rfid_tag_path(rfid_tag) %>
          <%= link_to 'Destroy', rfid_tag, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Rfid tag', new_rfid_tag_path, class: 'btn btn-large btn-info' %>
