<p id="notice"><%= notice %></p>

<p>
  <strong id="font">Tag:</strong>
  <%= @rfid_tag.tag_id %>
</p>
<p>
  <strong id="font">Status:</strong>
  <%= @rfid_tag.status %>
</p>

<a class="btn btn-large btn-info" <%= link_to 'Edit', edit_rfid_tag_path(@rfid_tag) %> </a>|
<a class="btn btn-large btn-info" <%= link_to 'Back', rfid_tags_path %></a>
