<%= form_for(@lending) do |f| %>
  <% if @lending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lending.errors.count, "error") %> prohibited this lending from being saved:</h2>

      <ul>
      <% @lending.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :tag_id %><br>
    <%= f.select :tag_id, options_from_collection_for_select(RfidTag.all.where('status = ?','f'), :tag_id, :tag_id ) %>
  </div>

 <div class="field">
    <%= f.label :user %><br>
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :from %><br>
    <%= f.datetime_select :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br>
    <%= f.datetime_select :to %>
  </div>
</br>
  <div class="actions">
    <%= f.submit %>
  </div>
</br>
<% end %>
