<p id="notice"><%= notice %></p>
</br>
<h1>Lendings</h1>

<table class="table table-strped">
  <% @lendings.each do |lending| %>
      <tr>
        <th>Tag</th>
        <td><%= lending.tag_id %></td>
      </tr>
      <tr>
        <th>User</th>
        <td><%= lending.user.name %></td>
      </tr>
      <tr>
        <th>From</th>
        <td><%= lending.from %></td>
      </tr>
      <tr>
        <th>To</th>
        <td><%= lending.to %></td>
      </tr>

      <tr>
        <td><%= link_to 'Show', lending %></td>
        <td><%= link_to 'Edit', edit_lending_path(lending) %></td>
        <td><%= link_to 'Destroy', lending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

<br>

<%= link_to 'New Lending', new_lending_path %>
