<p id="notice"><%= notice %></p>
</br>
<div id="blue">
<h1>Lendings</h1>
</div>
<div class="table-responsive">

<table class="table table-hover">
  <thred>
      <tr>
        <th>Tag</th>
        <th>User</th>
        <th>From</th>
        <th>To</th>
        <th>Actions</th>
      </tr>
  </thread>
  <tbody>
      <% @lendings.each do |lending| %>
       <tr>
        <td><%= lending.tag_id %></td>
        <td><%= lending.user.name %></td>
        <td><%= lending.from %></td>
        <td><%= lending.to %></td>
        <td>
          <%= link_to 'Show', lending %>
          <%= link_to 'Edit', edit_lending_path(lending) %>
          <%= link_to 'Destroy', lending, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
  </tbody>
    
  </table>
  </div>


<br>

<%= link_to 'New Lending', new_lending_path, class: 'btn btn-large btn-info' %>
