<p id="notice"><%= notice %></p>
<br>

<p>
  <strong id="font">Tag:</strong>
  <%= @lending.tag_id %>
</p>

<p>
  <strong id="font">User:</strong>
  <%= @lending.user.name %>
</p>

<p>
  <strong id="font">From:</strong>
  <%= @lending.from %>
</p>

<p>
  <strong id="font">To:</strong>
  <%= @lending.to %> 
</p>

 <%= link_to 'Edit', edit_lending_path(@lending),  class: 'btn btn-large btn-info' %></a>
  |
<%= link_to 'Back', lendings_path, class: 'btn btn-large btn-info' %>
