<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @lending.tag_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @lending.user.name %>
</p>

<p>
  <strong>From:</strong>
  <%= @lending.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @lending.to %>
</p>

<%= link_to 'Edit', edit_lending_path(@lending) %> |
<%= link_to 'Back', lendings_path %>
